{% set null = "---" %}
{#- 
 tsv columns: 
   gle_words	gle_annotation_in_eng	eng	eng_pos	eng_annotation_in_eng	gle_semantics	gle_pos	eng_desc	gle_desc

 TODO: filter POS values to be in line with analyzer

-#}
{% set analyzer_pos = {
    'V': 'Verb',
    'A': 'Adj',
    'N': 'Noun',
} %}
{%- macro fix_pos(pos) -%}
    {{- analyzer_pos.get(pos, pos) -}}
{%- endmacro -%}
<?xml version="1.0" encoding="UTF-8"?>
<?xml-stylesheet type="text/css" href="../../scripts/gt_dictionary.css"?>
<!DOCTYPE r
  PUBLIC "-//DivvunGiellatekno//DTD Dictionaries//Multilingual" "../../scripts/gt_dictionary.dtd">
<r>{% autoescape true %}
{#- group by the lemma, and then the POS #}
    {% for lemma_group, g_rows in rows|groupby('gle_words') %}
        {% for lemma_pos_group, pos_rows in g_rows|groupby('gle_pos') %}
       <e>
          <lg>
              {# nouns get Prop if the first letter is capitalized #}
              {% if lemma_group[0] == lemma_group[0]|capitalize and lemma_pos_group == 'n' %}
                  {% set l_type = ' type="Prop"' %}
              {% else %}
                  {% set l_type = '' %}
              {% endif %}
              <l pos="{{ fix_pos(lemma_pos_group|capitalize) }}"{{ l_type|safe }}>{{ lemma_group }}</l>
              {% for row in pos_rows %}
                  {% if row.gle_annotation_in_eng != null %}
                      <re>{{ row.gle_annotation_in_eng }}</re>
                  {% endif %}
              {% endfor %}
          </lg>
          <mg>
            {# TODO: group on meaning lemma? row.eng is often a vague
            definition, and gle_semantics is more specific. May need to switch these. #}
            {% for row in pos_rows %}

                 <tg xml:lang="eng">

                     <t pos="{{ row.eng_pos|capitalize }}">{{ row.eng }}</t>

                     {# some eng_annotation_in_eng values are exactly the same as row.eng #}
                     {% if row.eng_annotation_in_eng != null and row.eng_annotation_in_eng != row.eng %}
                        <re>{{ row.eng_annotation_in_eng }}</re>
                     {% endif %}
                     <re>{{ row.gle_semantics }}</re>

                     {# Don't need these for now, they're lengthy and repetitive. 
                     {% if row.eng_desc != null %}
                     <te xml:lang="eng">{{ row.eng_desc }}</te>
                     {% endif %}
                     {% if row.gle_desc != null %}
                     <te xml:lang="gle">{{ row.gle_desc }}</te>
                     {% endif %}
                     #}

                 </tg>
           {% endfor %}
          </mg>
       </e>
    {% endfor %}
{% endfor %}
{% endautoescape %}</r>
{# vim: set ts=4 sw=4 tw=0 syntax=xml : #}
